# Airflow, Logs, and Python Environments
logs/
.venv/
venv/
.env
.Stock_quates_pipeline/
Stock_quates_pipeline/
Stock_quates_pipelines
Stock_quates_pipelines/.env
.venv.bak/
venv.bak/
__pycache__/
.venv/bkp/
venv.bkp/
.venv.bak2/
venv.bak2/
.venv2/
venv2/
.venv3/
venv3/
.venv3.bak/
Stock_quates_pipelines/__pycache__/
Stock_quates_pipelines/*.pyc
Stock_quates_pipelines/*.pyo
Stock_quates_pipelines/*.pyd

# Dependencies and Build Artifacts
pycache/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data Files
*.csv
*.xlsx
*.parquet
*.json
*.log
*.sqlite
*.db

# IDE and OS-Specific files
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace